<div style ="margin-left:38%">
<h1>Burger Time!</h1>


<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="newb">Type of Burger:</label>
    <input type="text" id="newb" name="name">
  </div>
<br>
  <button type="submit">Add Burger</button>
</form>
</div>

<div style="float:left; margin-left: 10%">
<h2>Burgers Ready To Eat!</h2>
<ul>
  {{#each burger}}
    {{#unless devoured}}
    <p>{{this.burger_name}}
      <button data-planid="{{this.id}}" class="eatBurger">Eat Burger!</button>
    </p>
     {{/unless}}
  {{/each}}
</ul>
</div>

<div style="float:right; margin-right:10%">
<h2>Burgers that are devoured!</h2>
<ul>
  {{#each burger}}
    {{#if devoured}}
    <p>{{this.burger_name}}</p>
    {{/if}}
  {{/each}}
</ul>
</div>




<script type="text/javascript">
$(".eatBurger").on("click", function(event) {
  //var newId= $(this).data("planid");
  //console.log(newId);
    var id = {
      table: "burgers",
      condition: "devoured",
      burgerID: $(this).data("planid") + ""
    };
console.log(id);

    // Send the PUT request.
    $.ajax("/api/burgers/:id", {
      type: "PUT",
      data: id
    }).then(
      function() {

        location.reload();
      }
    );
  });

  $(".create-form").on("submit", function(event) {
    event.preventDefault();
    let newBurgerName = $("#newb").val().trim();
    if(newBurgerName === "") {
       alert("You didn't create a burger!");
       
       } else {  
    

    var newBurger = {
      table: "burgers",
      column: "burger_name",
      name: $("#newb").val().trim()
              };
console.log(newBurger);

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new Burger!!!");
        // Reload the page to get the updated list
        location.reload();
      }
    );
    };
  });

</script>
